---
import Layout from "../../layouts/Layout.astro";
import CardContent from "../../layouts/CardContent.astro";

import { getCollection, render } from "astro:content";
// Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post, body_class = "bg-pcb-green" } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);

import Heading2 from "../../components/Heading2.astro";
import ScrollToTop from "../../components/ScrollToTop.astro";
const components = {
  h2: Heading2,
};
---

<Layout title={post.data.title} bodyClass={body_class}>
  <div class="relative min-h-64 w-full max-w-4xl mx-auto">
    <CardContent
      title={post.data.title}
      tags={post.data.tags}
      img_src={post.data.img_src}
      alt_text={post.data.alt_text}
      date={post.data.date}
      read_time={remarkPluginFrontmatter?.minutes}
      paragrafo={post.data.paragrafo}
    />
  </div>

  <div class="bg-dark-grey flex-grow w-full">
    <!-- gradiente -->
    <div
      class="bg-gradient-to-b from-pcb-green via-[#1B241F] via-66% to-dark-grey h-32 -mt-8"
    >
    </div>

    <article
      class="px-4 mx-auto prose prose-invert prose-h2:mb-0 [&_h2]:text-4xl [&_h3]:text-2xl"
    >
      <Content components={components} />
    </article>
    <footer class="h-24"></footer>
  </div>

  <ScrollToTop />
</Layout>
