---
import { getCollection } from "astro:content";
import Card from "./card.astro";
import Navbar from "./Navbar.astro";
import { Font } from "astro:assets";

// This function tells Astro which pages to build
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }, // Pass the full entry as a prop
  }));
}

// Get the specific 'entry' for this page
const posts = await getCollection("blog");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <Font cssVariable="--font-montserrat" preload />
    <Font cssVariable="--font-jetbrains-mono" preload />
  </head>
  <!-- #FFFFFF1A  ou #333333 pros pontos. Resultado indistinguivel pra mim, 
   mas n eh identico tecnicamente.
  Transparencia seria ligeriamente mais ineficiente tb mas desprezivel 
  -->
  <body
    class="bg-[#1A1A1A] font-mono size
             bg-[image:radial-gradient(#333333_2px,transparent_0)] bg-[size:24px_24px]"
  >
    <Navbar />

    <div class="flex flex-col items-center gap-8">
      {
        posts.map((post) => (
          <Card
            title={post.data.title}
            tags={post.data.tags}
            img_src={post.data.img_src}
            date={post.data.date}
            read_time={post.data.read_time}
            paragrafo={post.data.paragrafo}
          />
        ))
      }
    </div>
  </body>
</html>
