---
import "../styles/global.css";
import Tag from "./Tag.astro";

const { title, tags, img_src, date, read_time, paragrafo } = Astro.props;
const formattedDate = date.toLocaleDateString("pt-BR");
---

<div
  class="relative w-full max-w-4xl min-h-64
  rounded-md shadow-md shadow-black/25
  ring-2 ring-inset ring-pcb-ring bg-pcb-green hover:bg-pcb-green-hover
  flex justify-center group"
>
  <!-- absolute firulas douradas -->

  <div
    class="absolute top-2 left-2 size-[14px] border-[3px] rounded-full
      bg-dark-grey border-copper"
  >
  </div>
  <div
    class="absolute top-2 right-2 md:top-auto md:right-auto md:bottom-2 md:left-2
    size-[14px] border-[3px] rounded-full
      bg-dark-grey border-copper"
  >
  </div>

  <div
    class="absolute bottom-0 left-1/2 -translate-x-1/2
     flex flex-row gap-3 flex-auto bg-pcb-green group-hover:bg-pcb-green-hover
   md:bottom-auto md:left-auto md:-translate-x-0 md:top-1/2 md:-translate-y-1/2 md:right-0
    md:flex-col"
  >
    <!-- 8 laranja, 7 interno verde -->

    <div class="bg-copper h-5 w-1.75 md:h-1.75 md:w-5"></div>
    <div class="bg-copper h-5 w-1.75 md:h-1.75 md:w-5"></div>
    <div class="bg-copper h-5 w-1.75 md:h-1.75 md:w-5"></div>
    <div class="bg-copper h-5 w-1.75 md:h-1.75 md:w-5"></div>
    <div class="bg-copper h-5 w-1.75 md:h-1.75 md:w-5"></div>
    <div class="bg-copper h-5 w-1.75 md:h-1.75 md:w-5"></div>
    <div class="bg-copper h-5 w-1.75 md:h-1.75 md:w-5"></div>
  </div>

  <!-- conteudo -->
  <div
    class="md:grid md:grid-cols-[auto_1fr] md:grid-rows-[auto_1fr]
  flex flex-col justify-left gap-x-6 gap-y-6
  pl-10 pr-14 w-full"
  >
    <img
      class="shrink-0 order-2 md:order-1 md:row-span-2 m-auto size-52 bg-dark-grey p-4 shadow-md shadow-black/25"
      src="public/imagemsite.png"
    />
    <!-- texto -->
    <!-- header do card -->
    <div class="flex flex-col pt-3 order-1 md:order-2">
      <!-- Titulo -->
      <h2 class="text-white text-[28px] px-5">{title}</h2>
      <!-- svg firulada -->
      <div class="flex w-full text-trace-green">
        <svg
          class="flex-shrink-0"
          width="133"
          height="24"
          viewBox="-2 -2 133 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="7" cy="7" r="5.5" stroke="currentColor" stroke-width="3"
          ></circle>

          <path
            d="M 13 7 L 118 7 L 128 14 L 133 14"
            stroke="currentColor"
            stroke-width="3"></path>
        </svg>
        <svg
          class="flex-grow -ml-px"
          height="24"
          viewBox="0 0 100 24"
          preserveAspectRatio="none"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="0"
            y1="16"
            x2="100"
            y2="16"
            stroke="currentColor"
            stroke-width="3"></line>
        </svg>

        <svg
          class="flex-shrink-0 -ml-px"
          width="14"
          height="24"
          viewBox="0 0 14 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="7" cy="16" r="5.5" stroke="currentColor" stroke-width="3"
          ></circle>
        </svg>
      </div>

      <div class="flex justify-between">
        <!-- tempo de leitura -->
        <!-- quero q ocupe todo o span da parte fixa da svg, 
        ainda n consegui pensar num jeito mais limpo de fazer isso, ta meio fragil essa parte -->
        <p class="text-trace-green w-32 font-extrabold pl-8 -mt-2 text-xl">
          {read_time} min
        </p>
        <!-- tags -->
        <div class="flex flex-row-reverse flex-wrap pr-5 gap-2">
          {tags.map((tag) => <Tag tag={tag} />)}
        </div>
      </div>
    </div>
    <!-- primeiro paragafo -->
    <div
      class="relative bg-dark-grey overflow-hidden p-3.5 mb-10 mt-auto mx-5 order-3 shadow-md shadow-black/25"
    >
      <div
        class="absolute bg-subtext-grey rounded-l-full size-2
          right-0 top-1/2 -translate-y-1/2 translate-x-1/2"
      >
      </div>
      <p class="text-subtext-grey group-hover:text-white">
        {paragrafo}
      </p>
    </div>

    <!-- </div> -->
  </div>
  <!--data   -->
  <p class="absolute bottom-0 right-2 text-trace-green text-base">
    {formattedDate}
  </p>
</div>
